# ECS784: Lab 3 part 1
# PANDAS: An open source Python library for data analysis

Pandas introduces two new data structures to Python: 

      1) Series 
      2) DataFrames 
      
 * Both of these are built on top of the NumPy library for high-performance analysis;
 * Easy-to-use data structures and data analysis tools.
 
 This notebook also covers I/O with Pandas, from CSV and Excel files.

In [1]:
# Setting up working environment - importing the necessary libraries/modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 50) # The maximum number of columns that can be shown is 50 CHANGED V2

# Makes the matplotlib graphs appear and stored within the notebook
%matplotlib inline

# Series
 * A Series is a one-dimensional object similar to an array, list, or column in a table (e.g., each column in Excel).
 * The system will assign a labelled index to each item in the Series. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [2]:
# Example1: creating Series from a list.  

s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
print(s)                            # prints the following

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

## Indexing a series

 * If you do not want to use the default indexes, you can specify your own index when creating a Series.

In [3]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
              index=['A', 'Z', 'C', 'Y', 'E'])

print(s)                        # would print details with assigned indexes

A                7
Z       Heisenberg
C             3.14
Y      -1789710578
E    Happy Eating!
dtype: object

# Creating a series from a dictionary

 * The Series constructor can create a series from a dictionary as well, using the keys of the dictionary as its index.

In [4]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100, 'Austin':  450, 'Boston': None} # Dictionary
cities = pd.Series(d) # Creates a Series and saves the dictionary in that Series

print(cities) # Prints the Series - Note the dictionary keys are now the Series indexes

Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

## Selecting members of a series

 * You can use the index to retrieve certain items from the Series.

In [5]:
print(cities['Chicago'])            # Prints the value associated with index Chicago

#print(cities['Chicago', 'Portland', 'San Francisco'])   # this returns an error. Won`t process three indexes.

1000.0

In [6]:
print(cities[['Chicago']]) # Using double [[ provides additional information. 

# Note that 'dtype' provides info about the data type of the Series values - floats in this case.

print('------------------------------')

print(cities[['Chicago', 'Portland', 'San Francisco']]) # Can be used for multiple indexes

Chicago    1000.0
dtype: float64
------------------------------
Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

## Using boolean indexing for selection

In [7]:
print(cities[cities < 1000])       # prints all cities with value less than 1000

Portland    900.0
Austin      450.0
dtype: float64

## Changing values using boolean logic

In [8]:
cities[cities < 1000] = 750        # change values of cities less than 1000 to 750 

# Note how easy this is (implementing this from scratch would typically require a for-loop)

print (cities[cities < 1000])

Portland    750.0
Austin      750.0
dtype: float64

## Checking if an item is in a series

In [9]:
print('Seattle' in cities)              # prints   False
print('San Francisco' in cities)        # prints   True

False
True

## Maths operations on series

In [10]:
# a) Using scalar operation

cities / 3       # returns division by 3 of all values in cities by 3

Chicago          333.333333
New York         433.333333
Portland         250.000000
San Francisco    366.666667
Austin           250.000000
Boston                  NaN
dtype: float64

In [11]:
# b) Using math function

np.square(cities)      # returns the square of all values in cities

Chicago          1000000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
Austin            562500.0
Boston                 NaN
dtype: float64

#### Adding two series together

 * This returns a union of the two Series with the addition occurring on the shared index values. 
 * Values for indexes not shared return NULL/NaN

In [12]:
ser1 = cities[['Chicago', 'New York', 'Portland']] # Create ser1
ser2 = cities[['Austin', 'New York']]              # Create ser2
ser3 = ser1 + ser2                                 # Create ser3
print(ser3) # Note that only the shares indexes have been processed by the addition             

#print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']]) # this returns the same result

Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

Austin, Chicago, and Portland were not found in both Series, so they return NULL/NaN.

## Checking for null values

 * Use isnull and notnull (similar to SQL):

In [13]:
# a. Using notnull()

cities.notnull()

Chicago           True
New York          True
Portland          True
San Francisco     True
Austin            True
Boston           False
dtype: bool

In [14]:
# b. Using isnull()

cities.isnull()

Chicago          False
New York         False
Portland         False
San Francisco    False
Austin           False
Boston            True
dtype: bool

In [15]:
# Prints all elements with null values 

print(cities[cities.isnull()])

Boston   NaN
dtype: float64

# DataFrames

 * A DataFrame is a two-dimensional tabular data structure comprised of rows and columns, akin to a spreadsheet, relational database table, or R's data.frame object.

## Reading data into a DataFrame

In [16]:
# data is a dictionary with four keys, and a list corresponding to each key
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012], 
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'], 
        'wins': [11, 8, 10, 15, 11, 6, 10, 4], 
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

# Import dictionary data into a dataFrame
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses']) # keys are passed as parameters
#football = pd.DataFrame(data, columns=data.keys()) # You could also use this if you are passing all keys
#football = pd.DataFrame(data) #even without specifyig explicitly the column values, pandas automatically 
                              # reads the dictionary keys as column names.

In the above, 

 * data is dictionary
 * football is a DataFrame that imports data. It produces a table as shown below.

In [17]:
print(football)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

## Deleting a dataframe

 * del "dataframe name"

In [18]:
#del football

In [19]:
print(football)  # This would return an error if football is deleted

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

## Other ways of populating dataframes

 * Pandas enables reading data from files such as csv, excel, hdf, sql, json, msgpack, html, gbq, stata, clipboard, and  pickle data, and more.
 * Check the following link for more details: http://pandas.pydata.org/pandas-docs/stable/ .

## I/O with CSV files

 * To read a CSV file we use the pandas read_csv method. 
 * Suppose we have a CSV file storing average house prices for an area. We can load this file into a dataFrame.

In [20]:
df = pd.read_csv('house_prices.csv') # This file can be found in lab files. Copy the file into your Python directory.   

print(df)
#print(df.head())    # prints the first few records. Useful only when we dealing with large files.

         Date   Value
0  2015-06-30  502300
1  2015-05-31  501500
2  2015-04-30  500100
3  2015-03-31  495800
4  2015-02-28  492700

 * By default, read_csv expects a comma separator between fields in the file, but this can be overridden.
 * Notice the output has default index numbers starting from 0.
 * Pandas automatically selects the top row as the column heading (i.e., Date and Value in the above example)

In [21]:
# To save the data df to another CSV file:

df.to_csv('house_prices_copy.csv') # This file will be generated in the same directory

In [22]:
# To save a specific column from df to another CSV file:

df['Value'].to_csv('house_prices_values.csv') # This file will be created in the same directory

In [23]:
# Let's check the contents of these files

df1 = pd.read_csv('house_prices_copy.csv')

In [24]:
df1

   Unnamed: 0        Date   Value
0           0  2015-06-30  502300
1           1  2015-05-31  501500
2           2  2015-04-30  500100
3           3  2015-03-31  495800
4           4  2015-02-28  492700

* Notice the above table now includes two columns representing index.
* This can happen when the file already includes an index column.
* To avoid duplication, we specify which column from the input file represents the index.

In [25]:
# We now read the same data file, but specify that column 0 is indeed an index column

df2 = pd.read_csv('house_prices_copy.csv', index_col=0)

In [26]:
df2

         Date   Value
0  2015-06-30  502300
1  2015-05-31  501500
2  2015-04-30  500100
3  2015-03-31  495800
4  2015-02-28  492700

### Changing the  column header

In [27]:
df.columns = ['Date','House_Prices'] # This changes the heading 'Values' into 'House_Prices'
print(df)

         Date  House_Prices
0  2015-06-30        502300
1  2015-05-31        501500
2  2015-04-30        500100
3  2015-03-31        495800
4  2015-02-28        492700

### You can save the data into a file without headers

In [28]:
df.to_csv('house_prices_no_header.csv', header=False)   # by setting header=False

In [29]:
# Lets load the above file and print its contents
print(pd.read_csv('house_prices_no_header.csv'))

   0  2015-06-30  502300
0  1  2015-05-31  501500
1  2  2015-04-30  500100
2  3  2015-03-31  495800
3  4  2015-02-28  492700

### If the file has no headers, but we add headers in the dataframe

In [30]:
df = pd.read_csv('house_prices_no_header.csv', names = ['Date',' House_Price'], index_col=0) 

print(df.head())

         Date   House_Price
0  2015-06-30        502300
1  2015-05-31        501500
2  2015-04-30        500100
3  2015-03-31        495800
4  2015-02-28        492700

## I/O with Pandas

 * pandas' various reader functions have many parameters allowing you to do things like skipping rows, parsing dates, or specifying how to handle NAN/NULL data points.
 * There is also a set of 'writer' functions for writing to a variety of file formats (CSV, HTML, JSON etc).

## I/O with Excel

 * The  read_excel()  method reads Excel 2003 (.xls) and Excel 2007+ (.xlsx) files using the xlrd Python module. 
 * The  to_excel() method saves a DataFrame to Excel. 
 * The semantics are similar to those when working with CSV files.
 
### Copying a dataFrame to an Excel file.

In [31]:
# Note we have already created the football dataFrame above
football.to_excel('football.xlsx', index=False)   # index=False is used to avoid writing header information

Note that we did not copy the index from the dataFrame to the Excel file.

## Reading from Excel

 * In the most basic use-case, read_excel takes the Excel file name, as well as the Sheet of that file.

In [32]:
football_excel_file = pd.read_excel('football.xlsx', 'Sheet1')  # default is always Sheet1

 * The above command uses the read method of Pandas to copy the Excel spreadsheet into a dataFrame.

In [33]:
print(football_excel_file)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

## Working with multiple sheets 
 
 * To facilitate working with multiple sheets from the same file, we can use the ExcelFile class.

In [34]:
two_sheets_xlsFile = pd.ExcelFile('multi_sheets.xlsx') # This file can be found in the lab's folder

multi_sheets.xls contains two sheets.

In [35]:
# We can use the read method to copy the first sheet into a dataFrame

df_1 = pd.read_excel(two_sheets_xlsFile, 'Sheet1')

In [36]:
df_1 # prints the first dataFrame that contains sheet 1

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [37]:
# We repeat this for sheet 2

df_2 = pd.read_excel(two_sheets_xlsFile, 'Sheet2')

In [38]:
df_2 # prints the second dataFrame that contains sheet 2

   department  distinction  first class
0          CS           20           50
1          EE           14           56
2  Mechanical           11           60
3       Civil           23           57
4       Music           17           54
5     English           15           61
6         Law           13           63

## Alternatively, the ExcelFile class can also be used as a context manager.

In [39]:
with pd.ExcelFile('multi_sheets.xlsx') as xls:
    df_3 = pd.read_excel(xls, 'Sheet1')
    df_4 = pd.read_excel(xls, 'Sheet2')

In [40]:
df_3

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [41]:
df_4

   department  distinction  first class
0          CS           20           50
1          EE           14           56
2  Mechanical           11           60
3       Civil           23           57
4       Music           17           54
5     English           15           61
6         Law           13           63

### An important use-case of the ExcelFile method involves parsing multiple sheets with different parameters
 * Example:  when Sheet1's format differs from Sheet2

In [42]:
data = {}      # an empty dictionary

with pd.ExcelFile('multi_sheets.xlsx') as xls:
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', index_col=None, na_values=['NA'])
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2', index_col=0)

 * Note that if the same parsing parameters are used for all sheets, a list of sheet names can simply be passed to read_excel with no loss in performance. This is important when reading multiple times from multiple large data sets.

In [43]:
# print the dictionary we just created

data

{'Sheet1':    year     team  wins  losses
 0  2010    Bears    11       5
 1  2011    Bears     8       8
 2  2012    Bears    10       6
 3  2011  Packers    15       1
 4  2012  Packers    11       5
 5  2010    Lions     6      10
 6  2011    Lions    10       6
 7  2012    Lions     4      12,
 'Sheet2':             distinction  first class
 department
 CS                   20           50
 EE                   14           56
 Mechanical           11           60
 Civil                23           57
 Music                17           54
 English              15           61
 Law                  13           63}

### using the ExcelFile class when the sheets have the same format

In [44]:
data = {}

with pd.ExcelFile('multi_sheets.xlsx') as xls:
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', index_col=None, na_values=['NA']) 
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2', index_col=None, na_values=['NA'])

In [45]:
print(data)

{'Sheet1':    year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12, 'Sheet2':    department  distinction  first class
0          CS           20           50
1          EE           14           56
2  Mechanical           11           60
3       Civil           23           57
4       Music           17           54
5     English           15           61
6         Law           13           63}

In [46]:
# Equivalent to using the read_excel function can be

data = pd.read_excel('multi_sheets.xlsx', ['Sheet1', 'Sheet2'], index_col=None, na_values=['NA'])

In [47]:
data

{'Sheet1':    year     team  wins  losses
 0  2010    Bears    11       5
 1  2011    Bears     8       8
 2  2012    Bears    10       6
 3  2011  Packers    15       1
 4  2012  Packers    11       5
 5  2010    Lions     6      10
 6  2011    Lions    10       6
 7  2012    Lions     4      12,
 'Sheet2':    department  distinction  first class
 0          CS           20           50
 1          EE           14           56
 2  Mechanical           11           60
 3       Civil           23           57
 4       Music           17           54
 5     English           15           61
 6         Law           13           63}

### Additional info about working with multiple sheets

 * Detailed documentation online http://pandas.pydata.org/pandas-docs/stable/io.html#excel-files